@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap');

/* Estilos da página de cadastro de passeios */
.cadastro-section {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.cadastro-box {
    background-color: #f8f4ff;
    padding: 40px 10px 40px 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    margin: 50px;
}
.cadastro-form{
    text-align: center;
    color: #f8f4ff;
    background-color: #f8f4ff;
}

.cadastro-form h2 {
    color: #2A2D54;
    margin-bottom: 20px;
}

.cadastro-form label {
    display: block;
    margin-bottom: 5px;
    color: #2A2D54;
}

.cadastro-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.cadastro-form button {
    background-color: #926B96;
    font-family: 'Red Hat Text', sans-serif;
    color: #FAFAFA;
    font-size: 20px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 64px;
    padding-right: 64px;
    border: none; 
    border-radius: 12px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

.cadastro-form button:hover {
    background-color: #7f5481; /* Cor mais escura ao passar o mouse */
}

.cadastro-card{
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color:#e7d7e9;
}

.cadastro-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.input-checkbox div:nth-child(n){
    display:flex;
    float: left;
}
.input-checkbox hr{
    width: 100%;
    border-color: transparent;
}
.input-checkbox input{
    margin-right: 10px;
}

.register_link{
    text-decoration: none;
}

.register_link:hover{
    color: #a37ddc;
}

.price-message{
    color:#2A2D54;
}

.return-button {
    text-decoration: none; /* Remove qualquer sublinhado ou decoração do link */
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    color: #995577; /* Cor do link, pode ajustar conforme o design */
    background: none; /* Remover qualquer fundo, como no botão */
    border: none; /* Remover borda */
    padding: 0; /* Remover padding */
    cursor: pointer; /* Alterar o cursor para indicar que é clicável */
    transition: color 0.2s ease-in-out; /* Efeito suave ao passar o mouse */
  }
  
  .return-button:hover {
    color: #834866; /* Cor do link ao passar o mouse */
  }
  
  .return-button:focus {
    outline: none; /* Remover o contorno padrão ao clicar */
  }