.logo{
    text-decoration: none !important;
}


/* Reduz tamanho do texto em telas menores */
@media screen and (max-width: 768px) {
    .nav-links a {
      font-size: 14px !important; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .nav-links {
      gap: 10px !important;
    }
  
    .nav-links a {
      font-size: 12px !important;
    }
  }